<h1>Your Cart</h1>
    <table>
      <thead>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Subtotal</th>
      </thead>
    <tbody>
      {{# each items }}
      <tr>
        <td>{{this.product.name}}</td>
        <td>{{ input type="number" value=quantity min=1 }}</td>
        <td>{{format-money this.current_price}}</td>
        <td>{{format-money this.subtotal}}</td>
        <td><button {{action 'deleteItem' this}}>Remove</button></td>
      </tr>
      {{/ each }}
      <tr>
        <td></td>
        <td></td>
        <td><strong>Total:</strong></td>
        <td> {{format-money total }} </td>
      </tr>
    </tbody>
  </table>
{{#if checkout }}
  <button {{ action 'hideCheckout' this }}>Nevermind</button><br><br>
  <div class='form-group'>
  <label for="customer_name">Name</label>
  {{input type='text' value=proxy.customer_name class='form-control'}}
</div>
<div class='form-group'>
  <label for="email">Email</label>
  {{input type='text' value=proxy.email class='form-control'}}
</div>
<div class='form-group'>
  <label for="cccnumber">Credit Card Number</label>
  {{input type='text' value=proxy.ccnumber class='form-control'}}
</div>
<div class='form-group'>
  <label for="ccv">CVV</label>
  {{input type='text' value=proxy.ccv class='form-control'}}
</div>
<div class='form-group'>
  <label for="expdate">Expiration Date</label>
  {{input type='text' value=proxy.expdate class='form-control'}}
</div>
<div class='form-group'>
  <label for="zipcode">Zip Code</label>
  {{input type='text' value=proxy.zipcode class='form-control'}}
</div>
<button class='btn btn-success' {{action 'confirm' proxy }}>Purchase</button>
{{else}}
  <button {{ action 'checkout' this }}>Checkout</button>
{{/if}}